/* Responsive Styles for Header Navigation Menu */
/* =========> Starts <=========== */
@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
  .nav_menu_box > ul {
    display: none;
  }
  .nav_menu_box > .bars {
    display: block;
    font-size: 1.5rem;
  }
  .nav_logo_box h2 {
    font-size: 1.344rem;
  }
  .nav_logo_box img {
    width: 1.75rem;
    height: 2.063rem;
  }
}
/* =========> Ends <=========== */
/* Banner Section Responsive Styles */
/* =========> Starts <=========== */

@media screen and (max-width: 600px) {
  .banner {
    margin-top: 3.125rem;
    padding: 1.9rem 1rem;
  }
  .banner_input_box {
    flex-direction: column;
    gap: 1rem;
    border-radius: 8px;
    padding: 0.6rem;
  }
  .banner_content_box h1 {
    font-size: 1.3rem;
    margin-bottom: 8px;
  }
  .banner_content_box p {
    font-size: 0.8rem;
    line-height: 21px;
    margin-bottom: 32px;
  }
  .banner_input_box {
    gap: 1rem;
    padding: 1rem;
  }
  .banner_input_box {
    width: 100%;
  }
  .banner_input_box div input {
    height: 52px;
  }
  .find_now {
    justify-content: center;
  }
}
/* =========> Ends <=========== */
/* Popular Tours Section Responsive Styles */
/* =========> Starts <=========== */

@media screen and (max-width: 600px) {
  .popular_tours_parent {
    flex-direction: column;
    margin: 24px 0;
    gap: 24px;
  }
  .popular_tours_content_box > h2 {
    font-size: 20px;
  }
  .popular_tours_content_box > p {
    font-size: 14px;
  }
  .popular_tours_img_box img {
    height: 342px;
    flex-shrink: 0;
  }
}
/* =========> Ends <=========== */
/* Chose your destination Section Responsive Styles */
/* =========> Starts <=========== */
@media screen and (max-width: 600px) {
  .destination_content_box h2 {
    font-size: 1.2rem;
  }
  .destination_content_box p {
    font-size: 0.9rem;
    line-height: 24px;
    margin-bottom: 1.2rem;
    padding: 0rem;
  }
  .destination_img_box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 1rem;
  }

  .dest_1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .dest_2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .dest_3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .dest_4 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  .dest_5 {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
  }
  .dest_6 {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
  }
  .dest_7 {
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
  }
  .destination_img_box div {
    height: 176px;
  }
  .destination_img_box div span {
    font-size: 1.5rem;
  }
}
/* =========> Ends <=========== */

/* Why Choose Us Section Responsive Styles */
/* =========> Starts <=========== */
@media screen and (max-width: 600px) {
  .content-box {
    margin-top: 1.5rem;
  }
  .content-box h1 {
    font-size: 1.25rem;
  }
  .content-box p {
    font-size: 0.875rem;
    margin-top: 1rem;
  }
  .hotels_and_service {
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    flex-direction: column;
  }
  .hotel img,
  .service img,
  .best_price img {
    width: 48px;
    height: 48px;
    margin-bottom: 1rem;
  }
  .hotel p,
  .service p,
  .best_price p {
    font-size: 0.875rem;
  }
  .best_price_parent .best_price {
    width: 100%;
    position: static;
    left: 0%;
    transform: translate(0%);
  }
}
/* =========> Ends <=========== */
/* Deals and discount Section Responsive Styles */
/* =========> Starts <=========== */
@media screen and (max-width: 600px) {
  .btn {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
  }
  .discount_banner {
    padding: 1rem;
    margin: 0;
  }
  .discount_cart {
    margin-top: 80px;
  }
  .deals_and_discount_parent {
    margin-top: 3.4rem;
  }
  .discount_content_box h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .discount_content_box p {
    font-size: 0.86rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
  }

  #banner_2 {
    display: flex;
    height: 550px;
    margin: 1rem 0;
    justify-content: center;
    padding-left: 1rem;
    position: relative;
  }
  #banner_2 > .discount_cart {
    width: 100%;
    position: relative;
    bottom: -25px;
  }
  .discount_cart {
    width: 100%;
    padding: 1rem 1.5rem;
  }
  .cart_content h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
  .cart_content p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .cart_content h3 {
    font-size: 15px;
  }
  .cart_header {
    display: flex;
    flex-wrap: wrap;
  }
  .cart_header div {
    display: flex;
    align-items: center;
  }
  .cart_header div span {
    font-size: 1rem;
    color: var(--secondary_black);
  }
  .cart_header div img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
/* =========> Ends <=========== */
/*  Simple Perfect Place Section Responsive Styles */
/* =========> Starts <=========== */
@media screen and (max-width: 600px) {
  .perfect_place_parent {
    margin-top: 40px;
    flex-direction: column;
    gap: 24px;

    /* border: 2px solid red; */
  }
  .perfect_place_content_box h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .perfect_place_content_box p {
    font-size: 14px;
  }
  .perfect_place_content_box ul li {
    font-size: 14px;
  }
}
/* =========> Ends <=========== */
/*  Reviews Section Responsive Styles */
/* =========> Starts <=========== */
@media screen and (max-width: 600px) {
  .reviews_parent {
    margin: 3rem 0;
  }
  .review_box_parent {
    flex-direction: column;
    gap: 2.5rem;
  }
  .reviews_content_box h2 {
    font-size: 1.5rem;
  }
  .reviews_content_box p {
    font-size: 14px;
  }
  .review_content_box h2 {
    font-size: 1rem;
  }
  .review_content_box h3 {
    font-size: 14px;
  }
}
/* =========> Ends <=========== */
/*  News letter Section Responsive Styles */
/* =========> Starts <=========== */
@media screen and (max-width: 600px) {
  .newsletter_parent {
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 0;
  }
  .newsletter_form h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .newsletter_form p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .save_card {
    bottom: 32px;
    right: 3px;
  }
  .save_card span {
    font-size: 16px;
  }
  .save_card p {
    font-size: 21px;
  }
}
/* =========> Ends <=========== */
/*  Footer Section Responsive Styles */
/* =========> Starts <=========== */
@media screen and (max-width: 600px) {
  footer {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 1.5rem;
    padding: 2rem 0;
    max-width: 1440px;
    margin: 0 auto;
  }
  .footer_title h2 {
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
  }
  .footer_title p {
    font-size: 14px;
    line-height: 24px; /* 162.5% */
  }
  .copy_right {
    margin-top: 1.4rem;
    font-size: 14px;
    margin-bottom: 31px;
  }
}
/* =========> Ends <=========== */
/* =========> Ends <=========== */
/* =========> Starts <=========== */
@media screen and (max-width: 600px) {
}
/* =========> Ends <=========== */
