/* Mulish Font From Google */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap");
/* Reused Colors Variables */
:root {
  --white: #fff;
  --black: #131318;
  --primary_black: rgba(19, 19, 24, 0.702);
  --secondary_black: #5a5a5d;
  --primary_red: #ff5400;
}
/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body styles */
body {
  font-family: "Mulish", sans-serif;
}

/* Container Class Related Styles And Reused Classes */
/* ===========> Starts <===========  */
.container {
  max-width: 1440px;
  width: 81%;
  margin: 0 auto;
}
.btn {
  font-size: 1rem;
  font-weight: 800;
  color: #fff;
  padding: 0.813rem 2.125rem;
  border: none;
  text-align: center;
  border-radius: 8px;
  background: #ff5400;
}
.para {
  color: #5a5a5d;
  font-size: 1rem;
  line-height: 26px; /* 162.5% */
}
.hidden {
  display: none;
}
/* Container Class Related Styles And Reused Classes */
/* ===========> Ends <===========  */
/* Nav Related Styles Start*/
.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.25rem;
}
.nav_menu_box ul {
  display: flex;
  gap: 2.75rem;
}
.nav_menu_box ul li {
  list-style: none;
}
.nav_menu_box ul li a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 1.12rem;
}
.nav_logo_box {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.nav_logo_box h2 {
  color: var(--black);
  font-weight: 800;
  font-size: 2.25rem;
}
.nav_logo_box .savior {
  color: var(--primary_red);
}
.nav_menu_box > .bars {
  display: none;
}
