/* Mulish Font From Google */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap");
/* Reused Colors Variables */
:root {
  --white: #fff;
  --black: #131318;
  --primary_black: rgba(19, 19, 24, 0.702);
  --secondary_black: #5a5a5d;
  --primary_red: #ff5400;
}
/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body styles */
body {
  font-family: "Mulish", sans-serif;
}
footer {
  min-height: 40vh;
}

/* Container Class Related Styles And Reused Classes */
/* ===========> Starts <===========  */
.container {
  max-width: 1440px;
  width: 81%;
  margin: 0 auto;
}
.btn {
  font-size: 1rem;
  font-weight: 800;
  color: #fff;
  padding: 0.813rem 2.125rem;
  border: none;
  text-align: center;
  border-radius: 8px;
  background: #ff5400;
}
.para {
  color: #5a5a5d;
  font-size: 1rem;
  line-height: 26px; /* 162.5% */
}
.hidden {
  display: none;
}
/* >>>>>>>>>>>> Container Class Related Styles And Reused Classes <<<<<<<<<<< */
/* Nav Related Styles */
/* ===========> Starts <===========  */
.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.25rem;
}
.nav_menu_box ul {
  display: flex;
  gap: 2.75rem;
}
.nav_menu_box ul li {
  list-style: none;
}
.nav_menu_box ul li a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 1.12rem;
}
.nav_logo_box {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.nav_logo_box h2 {
  color: var(--black);
  font-weight: 800;
  font-size: 2.25rem;
}
.nav_logo_box .savior {
  color: var(--primary_red);
}
.nav_menu_box > .bars {
  display: none;
}
/* =========> Ends <=========== */
/* >>>>>>>>>>>Banner Related Styles<<<<<<<<<< */
/* =========> Starts <=========== */

.banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3.125rem;
  padding: 6.625rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
}
.banner_content_box h1 {
  color: var(--white);
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}
.banner_content_box p {
  font-size: 1rem;
  color: var(--white);
  text-align: center;
  margin-bottom: 48px;
}
.banner_input_box {
  display: flex;
  gap: 1.5rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem;
}
.banner_input_box div {
  flex: 1;
  background-color: var(--white);
  height: 52px;
  border-radius: 8px;
  position: relative;
  /* border: 1px solid red; */
}
.banner_input_box div input {
  border: none;
  outline: none;
  height: 100%;
  border-radius: 8px;
}
.banner_input_box div input::placeholder {
  /*styles here*/
  padding-left: 0.8rem;
  color: var(--primary_black);
}
.when,
.type {
  display: flex;
  align-items: center;
}
.fa-angle-down {
  position: absolute;
  right: 1rem;
}
.banner_input_box > .find_now {
  display: flex;
  background-color: var(--primary_red);
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.find_now .fa-magnifying-glass {
  font-size: 1.4rem;
  color: var(--white);
}
.find_btn {
  border: none;
  outline: none;
  background-color: var(--primary_red);
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
}
/* >>>>>>>>>>>Banner Related Styles<<<<<<<<<< */
/* =========> Ends <=========== */
/* >>>>>>>>>>>Popular Tours Related Styles<<<<<<<<<< */
/* =========> Starts <=========== */
.popular_tours_parent {
  display: flex;
  margin: 6rem 0;
  gap: 3rem;
}
.popular_tours_parent div {
  flex: 1;
}
.popular_tours_content_box {
  overflow: hidden;
}
.popular_tours_content_box > h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--black);
}
.popular_tours_content_box > p {
  color: var(--primary_black);
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1.78rem 0;
}
.popular_tours_content_box ul {
  padding-left: 2rem;
}
.popular_tours_content_box ul li {
  color: var(--primary_black);
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}
.popular_tours_img_box {
  object-fit: cover;
}
.popular_tours_img_box img {
  width: 100%;
  /* height: 100%; */
  border-radius: 16px;
  height: 34.5rem;
}
/* =========> Ends <=========== */
/* >>>>>>>>>>>Choose your destination section Related Styles<<<<<<<<<< */
/* =========> Starts <=========== */
.destination_content_box h2 {
  color: var(--black);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.destination_content_box p {
  color: var(--primary_black);
  text-align: center;
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 3rem;
  padding: 0 8rem;
}
/* img styles */
.destination_img_box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}

.destination_img_box div {
  object-fit: cover;
  height: 300px;
  position: relative;
}

.destination_img_box div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  font-weight: 800;
  color: var(--white);
}

.dest_1 {
  grid-column: 1 / span 6;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/maldivs.png"), lightgray 50% / cover no-repeat;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}
.dest_2 {
  grid-column: 7 / span 6;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/indonesia.png"), lightgray 50% / cover no-repeat;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}
.dest_3 {
  grid-column: 1 / span 4;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/srilanka.png"), lightgray 50% / cover no-repeat;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}
.dest_4 {
  grid-column: 5 / span 5;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/north\ america.png"), lightgray 50% / cover no-repeat;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}
.dest_5 {
  grid-column: 10 / span 3;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/kashmir.png"), lightgray 50% / cover no-repeat;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}
.dest_6 {
  grid-column: 1 / span 5;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/bangladesh.png"), lightgray 50% / cover no-repeat;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}
.dest_7 {
  grid-column: 6 / span 7;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/bandorban.png"), lightgray 50% / cover no-repeat;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}
